@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #181818;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}
.btn{
    padding: 10px 30px;
    color: white;
    text-transform: capitalize;
    border: 1px solid white;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
}
.bar{
    display: none;
}

/* Styling hero section */
.hero{
    background-color: #181818;
}
.hero .container{
    padding-top: 30px;
}
.hero-text{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero-text h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.2px;
    color: white;
    text-align: center;
    width: 800px;
    padding-bottom: 30px;
}
.hero-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: white;
    width: 700px;
    padding-bottom: 80px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.hero-btn button{
    padding: 18px 40px;
}
.blue-btn {
    border: none;
    background-color: #4452FE;
}
.hero-img{
    display: flex;
    justify-content: center;
}
.hero-img img{
    width: 120%;
}
/* Styling section 1 */

.section1{
    background-color: #181818;
}
.section1 .container{
    padding-top: 100px;
    padding-bottom: 120px;
}
.sct-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sct-title h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
    color: white;
}
.sct-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    width: 630px;
    color: white;
}
.sct1-block{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    gap: 30px;
}
.sct1-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0px 30px;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: white;
}
.sct1-box h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 30px;
}
.sct1-box p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 280px;
    color: #5C5C5C;
    line-height: 30px;
    padding-bottom: 60px;
}
.sct1-box:last-child p{
    padding-bottom: 30px;
}
.sct1-box:last-child button{
    margin-bottom: 10px;
}
.box-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-img img{
    width: 100%;
}
.box-btn{
    background-color: #4452FE;
    padding: 15px 30px;
    box-shadow: 0px 4px 31px 0px #00000026;
    margin-bottom: 50px;  
}
.box1-info{
    padding-bottom: 80px;
}

/* Styling section2 */
.section2{
    background-color: #181818;
    padding-bottom: 100px;
}
.section2 .container{
    padding-top: 50px;
}
.section2 p{
    padding-bottom: 20px;
}
.sct2-block1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 30px;
}
.box{
    border-radius: 12px;
    overflow: hidden;
}
.more{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.see-more{
    padding: 16px 40px;
}

/* Styling section3 */

.section3{
    background-color: #181818;
    padding-top: 50px;
    padding-bottom: 100px;
}
.sct3-block{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 80px;
    
}

footer{
    background-color: #181818;
}
footer .container{
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    color: white;
}
.footer-links{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer-links h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 30px;
}
.footer-links p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 20px;
}
.about p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.about p i{
    font-size: 24px;
    
}
.socials{
    padding-top: 10px;
    font-size: 24px;
    display: flex;
    gap: 30px;
}

@media (max-width:480px){
    nav .container{
        padding-left: 20px;
        padding-right: 20px;
    }
.links{
    display: none;
}
.sct-title h1{
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    width: 320px;
}
.sct-title p{
    width: 320px;
}
.bar{
    display: block;
    display: flex;
    justify-content: end;
}
.bar img{
    width: 80%;
}
.logo img{
    width: 70%;
}
.hero-text h1{
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    width: 320px;
}
.hero-text p{
    width: 400px;
}
.hero-btn{
    flex-direction: column;
    align-items: center;
}
.hero-img {
    display: none;
}
.section{
    background-image: url('img/mobile.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #181818;
}

/* Styling section1 */

.sct1-block{
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

/* Styling section2 */

.sct2-block1{
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
}
.block2{
    display: none;
}

/* Styling section 3 */

.sct3-block{
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
}
.sct3-block .box:last-child img{
    width: 100px;
}

/* Styling footer section */

footer .container{
    flex-direction: column;
    align-items: center;
}
.footer-links{
    flex-direction: column;
}
}